@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

font-robo {
    font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
}

.font-poppins {
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
}

.font-opensans {
    font-family: "Open Sans", "Arial", "Helvetica Neue", sans-serif;
}

*,
body,
html {
    margin: 0;
    padding: 0;
    font-family: "Poppins", "Roboto", sans-serif;
}

.bg-yellow {
    background-color: #ffcc10;
}

/* Bagian Navbar */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 3px;
    background-color: #fff;
}

.logo-container {
    display: flex;
    align-items: center; /* Agar logo dan teks sejajar */
}

.logo-container .logocn {
    margin-right: 40px;
    margin-left: 50px;
    width: 60px;
}

.text-container {
    font-size: 18px;
    font-weight: bold;
}

/* Container untuk logo SMKHEBAT, Teknisigo, Masagi, Adiwiyata */
.logos-container {
    display: flex;
    align-items: center; /* Biar logonya rata tengah */
}

/* Styling untuk setiap logo di dalam logos-container */
.logos-container img {
    margin-right: 15px; /* Jarak antar logo */
    width: 50px; /* Ukuran logo, bisa disesuaikan */
    height: auto;
}

.menu-icon {
    display: none;
}
.navbar-transparent a {
    color: black !important;
    backdrop-filter: blur(2.3px);
    font-weight: bold;
    transition: color 0.5s ease;
    /* Smooth transition:; */
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
}

/* Navbar transparan */
.navbar-transparent {
    background-color: transparent;
    transition: background-color 0.5s ease; /* Smooth transition */
}

/* Navbar berwarna saat di-scroll */
.navbar-colored {
    background-color: #4caf50;
    transition: background-color 0.5s ease; /* Smooth transition */
}

/* Navbar dengan teks putih saat transparan */
.navbar-transparent a {
    color: white;
    transition: color 0.5s ease; /* Smooth transition */
}

.navbar-container {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar-container a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
}
.navbar-container a:hover {
    background-color: #45a049;
}
/* --------------- */

/* Bagian Home */
.home-container {
    position: relative;
    background-image: url("../img/background.png"); /* Pastikan gambar sebagai background */
    background-size: cover; /* Biar gambar menutupi seluruh area */
    background-position: center; /* Biar posisinya center */
    height: 90vh; /* Tinggi sesuai preferensi lo */
    display: flex;
    align-items: center; /* Teks rata vertikal */
    justify-content: center; /* Teks rata horizontal */
    color: white;
}

.stat-item {
    text-align: center;
    margin: 20px;
}

.count {
    font-size: 2em;
    font-weight: bold;
}

.home-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Overlay effect */
    z-index: 0;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Transparansi warna item */
    z-index: 1; /* Biar overlay di atas gambar */
}
.home-text {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 5;
}
.home-text h1 {
    font-size: 35px;
    margin: 0;
}
.home-text p {
    font-size: 20px;
    margin: 10px 0;
    padding-bottom: 10px;
}

.home-btn {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 60rem;
    gap: 20px; /* Jarak antar tombol */
    margin-top: 20px; /* Jarak dari teks di atasnya */
    margin-bottom: 40px; /* Tambah jarak ke bawah agar tidak nabrak */
    margin-left: 33rem; /* Tambah jarak ke bawah agar tidak nabrak */
    z-index: 100;
}

.button-59 {
    align-items: center;
    background-color: transparent;
    border: 2px solid #fff;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    fill: #fff;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -0.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-59:focus {
    color: #171e29;
}

.button-59:hover {
    background-color: #4caf4f;
    border-color: #000;
    color: #000;
    fill: #000;
}

.btn-outline-dark:hover {
    background-color: #4caf4f !important;
    border-color: #000;
    color: #000 !important;
    fill: #000;
}
.button-59:active {
    border-color: #000;
    color: #000;
    fill: #000;
}

.home-text a {
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 1px;
    padding-top: 1px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
    font-size: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.stats-container {
    display: flex;
    justify-content: space-around; /* Jarak antar elemen merata */
    align-items: center;
    padding: 20% 0% 0% -25%;
    position: absolute;
    top: 2rem;
    left: 10rem;
    width: 80%; /* Sesuaikan dengan lebar kontainer */
    z-index: 5;
    color: white;
    bottom: 10rem;
    margin-top: 25rem;
    margin-right: 50rem;
}

.stat-item {
    text-align: center;
    padding-right: 10%;
    margin: 0 20px; /* Jarak antar item */
}

.stat-item img {
    width: 35px; /* Ukuran ikon */
    height: auto;
    margin-bottom: 10px; /* Jarak antara ikon dan teks */
}

.stat-item p {
    font-size: 18px; /* Ukuran teks */
    margin: 0;
}
/* --------------- */

/* Bagian Jurusan */
#kejuruan {
    background-color: #f3eeee;
    padding-bottom: 10px;
}

.jurusan-slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%; /* Ubah ukuran slider jika perlu */
    margin: 0 auto; /* Agar slider berada di tengah */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.jurusan-wrapper {
    display: flex;
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
}

.jurusan-item {
    flex: 0 0 100%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.jurusan-text {
    text-align: center !important;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    border-bottom: 3px solid #4caf50; /* Warna dan ketebalan garis */
    padding-bottom: 5px;
    width: fit-content;
    margin: 0 auto;
}
.jurusan-item img {
    max-width: 20rem;
    height: auto;
}

.jurusan-wrapper img:hover {
    transform: scale(1.1);
}

.jurusan-item p {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

button.prev,
button.next {
    background-color: #4caf50;
    color: #121212;
    border: none;
    padding: 10px;
    /*Kurangipaddingjikaperlu*/
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 40px;
    /*Sesuaikanlebartombol*/
    height: 40px;
    /*Sesuaikantinggitombol*/
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

button.prev {
    left: 20px; /* Mendekatkan tombol ke tepi kiri slider */
    z-index: 6;
}

button.next {
    right: 20px; /* Mendekatkan tombol ke tepi kanan slider */
    z-index: 6;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* --------------- */

/* Bagian Sertifikat */
#sertifikat {
    padding-bottom: 10px;
    padding-top: 40px;
    background: #4caf50;
    background: linear-gradient(0deg, #4caf50 0%, rgba(243, 238, 238, 1) 65%);
}
.sertifikat-container {
    text-align: center;
    max-width: 900px;
    margin: auto;
    padding: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #f3eeee;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}
.sertifikat-text {
    text-align: center !important;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    border-bottom: 3px solid #4caf50; /* Warna dan ketebalan garis */
    padding-bottom: 5px;
    width: fit-content;
    margin: 0 auto;
}
.sertifikat-wrapper {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    margin-top: 20px;
    gap: 20px;
}
.certificate {
    width: 200px;
    margin: 10px;
    text-align: center;
}
.certificate img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.sertifikat-caption {
    margin-top: 5px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #000066;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

#overlay-sertifikat {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#overlay-sertifikat img {
    width: 600px;
    height: 400px;
    border: 2px solid #171e29;
    border-radius: 5px;
    transition: color 0.5s ease;
}

.certificate img:hover {
    transform: scale(1.1);
}

#close-btn {
    position: absolute;
    background-color: transparent;
    top: 45px;
    right: 49%;
    font-size: 30px;
    z-index: 1000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#close-btn:hover {
    background-color: #4caf50;
    color: #121212;
    border: none;
    transform: scale(1.1);
    font-weight: bold;
    transition: color 0.5s ease;
    rotate: 180deg;
}
/* ----------------- */

/* Bagian Prestasi */
.prestasi-text {
    text-align: center !important;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    border-bottom: 3px solid #4caf50;
    padding-bottom: 5px;
    width: fit-content;
    margin: 0 auto;
}

#prestasi {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #f8f4e5;
    /* background-image: url("../img/bg-prestasi.jpg"); */
    background-size: cover; /* Biar gambar menutupi seluruh area */
    background-position: center;
}

.prestasi-wrapper {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 70rem;
    object-fit: cover;
}

.nav-button.left {
    left: 0;
}

.nav-button.right {
    right: 0;
}

.card-prestasi {
    position: relative;
    left: 0;
    width: 3rem;
    border-radius: 5rem;
    height: 25rem;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    box-shadow: 0 5 12px rgba(0, 0, 0, 0.3);
    flex: 0.15;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
    object-fit: cover;
}

.card-prestasi img {
    position: relative;
    height: 25rem;
    object-fit: cover;
    transition: object-fit 0.4s ease-in-out, transform 0.4s ease-in-out;
    -webkit-transition: object-fit 0.4s ease-in-out, transform 0.4s ease-in-out;
    -moz-transition: object-fit 0.4s ease-in-out, transform 0.4s ease-in-out;
    -ms-transition: object-fit 0.4s ease-in-out, transform 0.4s ease-in-out;
    -o-transition: object-fit 0.4s ease-in-out, transform 0.4s ease-in-out;
    -webkit-border-radius: 5p;
    -moz-border-radius: 5p;
    -ms-border-radius: 5p;
    -o-border-radius: 5p;
}

.card-prestasi:hover {
    flex: 1 1 0;
    object-fit: cover;
    cursor: pointer;
    border-radius: 1rem;
    transform: scale(1.1);
}

.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card-img-top:hover {
    transform: scale(1.1);
}

.card-prestasi.gallery-active {
    flex: 1;
    transform: scale(1.1);
    border-radius: 1rem;
}
/* ----------------- */

/* Bagian FOOTER */
.footer-wrapper {
    background-color: #45a049;
}
/* ----------------- */
/* Notif */
.notif-success {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4caf50;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 10000;
}
.notif-success.show {
    opacity: 1;
    transform: translateX(0);
}
.notif-success .close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#contact {
    margin: 0;
    padding: 0;
    background-color: #a2a2a2;
    display: flex;
    justify-content: center;
    align-items: center; /* Pusatkan vertikal */
    height: 100vh;
    flex-direction: column;
}

.contact-text {
    text-align: center !important;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    border-bottom: 3px solid #4caf50;
    padding-bottom: 5px;
    width: fit-content;
    margin: 0 auto;
}
.feedback-card {
    border: 2px solid black;
    max-width: 600px; /* Sesuaikan ukuran agar lebih besar */
    width: 100%;
    background-color: #fff;
    margin: 20px auto; /* Beri jarak dengan elemen lain */
    box-shadow: -0.6rem 0.6rem 0 rgba(29, 30, 28, 0.26);
}

.feedback-header {
    text-align: center;
    padding: 8px;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid black;
}

.feedback-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.feedback-body__email {
    margin-top: 10px;
    border: 2px solid black;
    height: 40px; /* Perbesar area teks */
}

.feedback-body__message {
    margin-top: 10px;
    border: 2px solid black;
    height: 100px;
}
.feedback-body__submit {
    font-size: 19px;
    padding: 5px;
}

.feedback-body button {
    margin-top: 10px;
    align-self: flex-end;
}

.map-container {
    width: 98.75vw;
    height: 500px;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 3px solid #333;
    justify-content: center;
    align-items: center;
}
.map-container iframe {
    width: 100%;
    height: 100%;
    border: 3px solid #333;
    justify-content: center;
    align-items: center;
}

/* Scroll effect */
.animated {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.animated.active {
    opacity: 1;
    transform: translateY(0); /* Gerak ke posisi normal */
}

.animated-image {
    transition: transform 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -ms-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
}

.animated-image.active {
    transform: scale(1.05);  /* gambar menjadi sedikit lebih besar */
}


/* Gaya untuk popup notifikasi */
.notification-popup {
    position: fixed;
    bottom: 20px; /* Menempatkan di bawah halaman */
    left: 50%;
    transform: translateX(-50%); /* Agar popup berada di tengah */
    background-color: rgba(0, 0, 0, 0.8); /* Background hitam transparan */
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    display: none; /* Sembunyikan popup secara default */
    z-index: 9999; /* Pastikan popup di atas konten lainnya */
}

/* Tombol silang di kanan atas */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    background: none;
    border: none;
}

/* Hover efek pada tombol silang */
.close-btn:hover {
    color: #f44336; /* Merah saat hover */
}

/* Gaya untuk teks */
.notification-popup p {
    margin: 0;
}



/* Tambahkan breakpoints untuk layar yang lebih kecil */
@media (max-width: 1024px) {
    .logo-container .logocn {
        margin-left: 10px;
        margin-right: 5px;
        width: 50px; /* Ukuran logo lebih kecil */
    }

    .text-container {
        font-size: 10px;
    }

    .logos-container img {
        width: 20px; /* Logo sedikit lebih kecil pada mobile */
        flex: 1 1 10%; /* Logo menyesuaikan, tapi tetap bisa 4 per baris */
    }

    .logos-container {
        justify-content: center; /* Mengatur agar logo tetap berada di tengah */
    }

    .navbar-container a {
        font-size: 14px; /* Sesuaikan ukuran teks navbar */
        padding: 10px 15px;
    }

    .home-container {
        position: relative;
        background-size: cover; /* Biar gambar menutupi seluruh area */
        background-position: center; /* Biar posisinya center */
        height: 80vh; /* Tinggi sesuai preferensi lo */
        display: flex;
        align-items: center; /* Teks rata vertikal */
        justify-content: center; /* Teks rata horizontal */
    }

    .home-text h1 {
        font-size: 27px;
        text-align: center;
    }

    .home-text p {
        font-size: 20px;
        padding-left: 65px;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .home-btn {
        display: flex;
        justify-content: center;
        position: absolute;
        right: 55rem;
        gap: 20px; /* Jarak antar tombol */
        right: 60%;
        padding-bottom: 25px;
        z-index: 100;
    }

    .button-59 {
        height: 48px;
        justify-content: center;
        letter-spacing: -0.8px;
        line-height: 24px;
        min-width: 140px;
    }

}

@media (max-width: 768px) {
    .header-container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        position: sticky;
        top: 0;
    }
    
    .logo-container .logocn {
        margin-left: 10px;
        margin-right: 5px;
        width: 50px; /* Ukuran logo lebih kecil */
    }

    .text-container {
        font-size: 10px;
    }

    .logos-container img {
        width: 20px; /* Logo sedikit lebih kecil pada mobile */
        flex: 1 1 10%; /* Logo menyesuaikan, tapi tetap bisa 4 per baris */
    }

    .logos-container {
        justify-content: center; /* Mengatur agar logo tetap berada di tengah */
    }

    .jurusan-slider {
        max-width: 90%; /* Sesuaikan ukuran slider */
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .stats-container {
        display: flex;
        justify-content: space-around; /* Jarak antar elemen merata */
        align-items: center;
        padding: 10% 0% 0% -25%;
        position: absolute;
        top: -10rem;
        left: 5rem;
        width: 20px;
        height: 40%;
        z-index: 2;
        color: white;
        bottom: 10rem;
        margin-top: 25rem;
        margin-right: 50%;
    }

    .stat-item p {
        font-size: 13px; /* Ukuran teks */
        margin: 0;
    }

    .jurusan-item img {
        width: 30px;
        height: 30px;
    }

    .jurusan-item p {
        font-size: 13px;
        margin-top: 10px;
        font-weight: bold;
        font-family: "Poppins", sans-serif;
    }

    .certificate {
        width: 150px; /* Ukuran sertifikat lebih kecil */
    }

    .feedback-card {
        max-width: 90%; /* Sesuaikan ukuran */
    }
}

@media (max-width: 432px) {
    .header-container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        position: sticky;
        top: 0;
        z-index: 100;
    }

    .logos-container img {
        width: 40px;
        height: 40px;
    }

    .jurusan-slider {
        max-width: 90%; /* Sesuaikan ukuran slider */
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .home-text h1 {
        font-size: 20px;
        text-align: left;
        padding-left: 20%;
    }

    .home-text p {
        font-size: 15px;
        padding-left: 20%;
    }

    .home-btn {
        flex-direction: flex; /* Tombol disusun vertikal */
        margin-bottom: 10px;
        margin: 0;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 130px;
        text-align: center;
        justify-content: center;
    }

    .button-59 {
        font-size: 14px;
        font-weight: 600;
        height: 48px;
        justify-content: center;
        letter-spacing: -0.8px;
        line-height: 24px;
        min-width: 100px;
        justify-content: center;
        text-align: center;
        margin: 5px auto;
    }

    .stats-container {
        display: grid; /* Ganti flex dengan grid untuk kontrol lebih presisi */
        grid-template-columns: repeat(
            auto-fit,
            minmax(0px, 1fr)
        ); /* Buat grid responsif */
        gap: 10px; /* Tambahkan jarak antar elemen */
        margin: 20px auto; /* Ruang di atas dan bawah */
        width: 90%; /* Pastikan container lebih ramping di layar kecil */
        color: white;
        text-align: center; /* Pusatkan teks */
        position: absolute;
        top: 60%;
        left: 20px;
    }

    .stat-item {
        display: flex;
        flex-direction: column; /* Atur ikon dan teks jadi vertikal */
        align-items: center; /* Pusatkan elemen secara horizontal */
        padding: 10px;
        border-radius: 8px; /* Tambahkan border-radius agar lebih menarik */
    }

    .stat-item img {
        width: 50px; /* Ukuran ikon lebih proporsional */
        height: auto;
        margin-bottom: 5px;
    }

    .stat-item h3 {
        font-size: 14px; /* Ukuran teks judul */
        margin: 0;
    }

    .stat-item p {
        font-size: 12px; /* Ukuran teks deskripsi */
        margin: 0;
    }
    .jurusan-item img {
        width: 30%;
        height: auto;
    }

    .jurusan-item p {
        font-size: 10px;
        margin-top: 10px;
        font-weight: bold;
        font-family: "Poppins", sans-serif;
    }

    .stats-container {
        padding: 0;
        margin-top: 5px;
    }

    .footer-wrapper {
        text-align: center;
        padding: 10px; /* Kurangi padding */
    }

    .sertifikat-wrapper {
        display: flex;
        justify-content: space-around;
        /* flex-wrap: wrap; */
        gap: 10px;
    }
    .certificate {
        width: 300px; /* Perbesar container di mobile */
    }
    .certificate img {
        width: 100%;
        height: auto;
    }
    .sertifikat-caption {
        font-size: 10px;
        border-radius: 5px;
        text-align: center;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    .prestasi-wrapper {
        position: relative;
        overflow: hidden; /* Sembunyikan scroll horizontal */
    }

    .gallery {
        display: flex;
        gap: 1rem;
        overflow-x: scroll; /* Aktifkan scroll horizontal */
        scroll-behavior: smooth; /* Bikin scroll lebih halus */
        padding: 1rem 0;
    }

    .card-prestasi.gallery-active {
        flex: 1;
        width: 90%;
        height: auto;
        transform: scale(1.1);
        border-radius: 1rem;
    }

    .gallery::-webkit-scrollbar {
        display: none; /* Hilangkan scrollbar */
    }

    .nav-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
        z-index: 2;
        font-size: 1.5rem;
    }

    .nav-button.left {
        left: 0;
    }

    .nav-button.right {
        right: 0;
    }

    .contact-text {
        font-size: 14px; /* Ukuran teks lebih kecil */
    }

    .feedback-body__email,
    .feedback-body__message {
        height: auto; /* Biarkan otomatis */
    }

    .map-container {
        height: 300px; /* Kurangi tinggi */
        width: 100%;
    }
}

/* Media query untuk layar kecil (mobile) */
@media (max-width: 768px) {
    .navbar-container {
        display: none; /* Sembunyikan navbar default */
        flex-direction: column;
        background-color: #4caf50; /* Sesuaikan warna background */
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .navbar-container.active {
        display: flex; /* Tampilkan navbar saat aktif */
    }

    .burger {
        display: block;
        position: fixed;
        top: 10px;
        right: 20px;
        z-index: 1100;
        cursor: pointer;
    }

    .burger div {
        width: 30px;
        height: 4px;
        background-color: #fff;
        margin: 5px 0;
        transition: all 0.3s ease;
    }

    /* Animasi burger saat di-klik */
    .burger.active .line1 {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .burger.active .line2 {
        opacity: 0;
    }

    .burger.active .line3 {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}

@media screen and (max-width: 768px) {
    .navbar-container a {
        display: none; /* Menyembunyikan menu di layar kecil */
        width: 100%;
        text-align: center;
    }

    .burger-menu {
        display: block; /* Menampilkan ikon burger */
    }
}
